{% extends 'freelancerapp/index.html' %}
{% block content %}
<div class ="text-center" id="tinderslide">
    <ul>
    <li class = "pane"><div class="image">
        {% for usr in Curr%}{{usr.image}}
        <div class="like"></div><div class="disclass"></div>
        {% endfor %}
    </div></li>
    </ul>
<div id="profile">
    <h4> Name: {% for usr in Curr %} {{usr.name}}{% endfor %}</h4>
    <h4> Description: { % for usr in Curr %} {{ usr.details }}</h4>
    <h4> Phone Number: {% for usr in Curr %}{{ usr.phoneNumber }}{% endfor %}<br/></h4>
    <h4> E-mail: {% for usr in Curr %}{{ usr.email }}{% endfor %}<br/></h4>
    <h4> Skills: <br>  {% for skills in usrSkills %}{{skills}}{% endfor %}<br/></h4>
</div>
</div>
{% endblock %}
